.wrapper {
  align-items: center;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
}

.isActive {
  background-color: var(--color-primary);
  color: var(--color-text-active);
  padding: 0.5rem 1rem;
}
