.wrapper {
  align-items: center;
  background-color: var(--color-bar-icons);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 130px;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 30px;
  top: 45%;
  z-index: 999;

  & svg {
    color: var(--color-primary);
  }
}
